<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	<section class="section about">
		<div class="container">
			<div class="about-flex">
				<div class="about-left">
					<ul class="about-menu">
						<li class="about-menu-item">
							<a href="#who" class="about-menu-link active">Кто мы?</a>
						</li>
						<li class="about-menu-item">
							<a href="#mission" class="about-menu-link">В чем миссия?</a>
						</li>
						<li class="about-menu-item">
							<a href="#idea" class="about-menu-link">В чем идея?</a>
						</li>
						<li class="about-menu-item">
							<a href="#do" class="about-menu-link">Что мы уже сделали?</a>
						</li>
						<li class="about-menu-item">
							<a href="#do_now" class="about-menu-link">Что мы делаем сейчас?</a>
						</li>
						<li class="about-menu-item">
							<a href="#price" class="about-menu-link">Что мы ценим больше всего?</a>
						</li>
					</ul>
					<div class="about-line"></div>
				</div>
				<div class="about-right">
					<h1 class="about-title title">О нас</h1>
					<div class="about-block" id="who">
						<h4 class="about-subtitle">Кто мы?</h4>
						<p class="about-text">Digital Education Technology – команда, объединяющая талантливых разработчиков, педагогов и методистов из разных стран. Мы создаём универсальную онлайн-платформу <span class="nowrap">для персонализированного,</span> адаптивного обучения. <span class="nowrap">Она подходит</span> для школ и вузов, профессиональных курсов <span class="nowrap">и корпоративного</span> образования, может дополнять LMS и другие образовательные платформы.</p>
						<svg class="about-svg about-svg_first parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
							<defs>
								<linearGradient id="ab1" x1="50%" x2="50%" y1="0%" y2="105.254%">
									<stop offset="0%" stop-color="#FBC2EB"/>
									<stop offset="100%" stop-color="#A18CD1"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab1)" d="M1216.5 195.98l-9.797 6.474a3 3 0 0 1-4.157-4.157l6.473-9.797-6.473-9.797a3 3 0 0 1 4.157-4.157l9.797 6.473 9.797-6.473a3 3 0 0 1 4.157 4.157l-6.473 9.797 6.473 9.797a3 3 0 0 1-4.157 4.157l-9.797-6.473z" transform="rotate(-45 413.999 1548.907)"/>
							</g>
						</svg>
						<div class="about-svg about-svg_second parallax2" data-parallax="10"></div>
					</div>
					<div class="about-block" id="mission">
						<h4 class="about-subtitle">В чем миссия?</h4>
						<p class="about-text">Мы хотим сделать образование доступным, эффективным <span class="nowrap">и актуальным</span> для всех людей в мире, независимо <span class="nowrap">от их местоположения,</span> личных особенностей и социально-экономического класса.</p>
						<svg class="about-svg about-svg_third parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
							<defs>
								<linearGradient id="ab3" x1="100%" x2="0%" y1="0%" y2="100%">
									<stop offset="0%" stop-color="#FFE29F"/>
									<stop offset="47.873%" stop-color="#FFA99F"/>
									<stop offset="100%" stop-color="#FF719A"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab3)" d="M1152 761.32l-6.378 4.215a3 3 0 0 1-4.157-4.157l4.214-6.378-4.214-6.378a3 3 0 0 1 4.157-4.157l6.378 4.214 6.378-4.214a3 3 0 0 1 4.157 4.157l-4.214 6.378 4.214 6.378a3 3 0 0 1-4.157 4.157l-6.378-4.214z" transform="rotate(-45 -309.759 1757.48)"/>
							</g>
						</svg>
					</div>
					<div class="about-block" id="idea">
						<h4 class="about-subtitle">В чем идея?</h4>
						<p class="about-text">Эффективное обучение – индивидуально. Это значит, <span class="nowrap">что нужно учесть</span> и предыдущий опыт и уровень знаний студента, и его скорость обучения, интересы и мотивацию, особенности внимания и утомляемости. Для этого <span class="nowrap">мы используем:</span></p>
						<ul class="about-list">
							<li class="about-item"><span class="text-bold">Технологические инновации​​</span> —  алгоритмы искусственного интеллекта и машинного обучения подстраивают каждый следующий шаг курса под конкретного студента.</li>
							<li class="about-item"><span class="text-bold">Педагогические и образовательные инновации</span>​​ — <span class="nowrap">мы разрабатываем</span> собственную методологию и
								<a href="" class="career-link">формат адаптивного учебного контента</a>. Делим материал <span class="nowrap">на минимально</span> значимые части, микро-шаги, <span class="nowrap">из которых система</span> собирает индивидуальные курсы.</li>
						</ul>
						<svg class="about-svg about-svg_fourth parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 32 37">
							<defs>
								<linearGradient id="ab4" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
									<stop offset="0%" stop-color="#96E6A1"/>
									<stop offset="100%" stop-color="#D4FC79"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab4)" d="M1275.546 895.216l13.012 24.933a4 4 0 0 1-3.547 5.851h-26.023a4 4 0 0 1-3.546-5.85l13.011-24.934a4 4 0 0 1 7.093 0z" transform="scale(-1 1) rotate(-24 -1477.47 3504.043)"/>
							</g>
						</svg>
						<div class="about-svg about-svg_fifth parallax2" data-parallax="4" ></div>
						<svg class="about-svg about-svg_sixth parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 32 37">
							<defs>
								<linearGradient id="ab6" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
									<stop offset="0%" stop-color="#C2E9FB"/>
									<stop offset="100%" stop-color="#A1C4FD"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab6)" d="M1231.546 1418.216l13.012 24.933a4 4 0 0 1-3.547 5.851h-26.023a4 4 0 0 1-3.546-5.85l13.011-24.934a4 4 0 0 1 7.093 0z" transform="scale(-1 1) rotate(-24 -2729.73 3662.042)"/>
							</g>
						</svg>
					</div>
					<div class="about-block" id="do">
						<h4 class="about-subtitle">Что мы уже сделали?</h4>
						<p class="about-text">Мы стартовали в 2016 году, и для проверки нашей идеи – начали с проекта онлайн-университета иностранных языков <span class="nowrap">для Китая</span>. Рынок английского языка в Китае составляет одну пятую мирового рынка онлайн-образования – более 21 млрд. долларов, и ежегодно удваивает показатели роста.</p>
						<p class="about-text about-text_big">Проект, который мы создали – образовательный комплекс <span class="nowrap">с конструктором</span> курсов, виртуальными аудиториями <span class="nowrap">и инновационным</span> тренажером для изучения иностранных слов.</p>
						<p class="about-text about-text_sm">За время работы над ним мы:</p>
						<ul class="about-sublist">
							<li class="about-subitem">Собрали международную команду методистов и разработчиков;</li>
							<li class="about-subitem">Получили лицензии на ведение образовательной деятельности <span class="nowrap">в Китае;</span></li>
							<li class="about-subitem">Выросли профессионально, решив множество нетривиальных задач;</li>
							<li class="about-subitem">Увеличили капитализацию компании;</li>
							<li class="about-subitem">И вышли на российский корпоративный рынок.</li>
						</ul>
						<p class="about-text about-text_big">В конце 2017 года к нам присоединился «<a href="" class="career-link">Новый поток</a>» — со-инвестор, партнер и заказчик, российская частная группа компаний, занимающаяся добычей, переработкой, экспортом нефтепродуктов. </p>
						<svg class="about-svg about-svg_seventh parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
							<defs>
								<linearGradient id="ab7" x1="100%" x2="0%" y1="50%" y2="50%">
									<stop offset="0%" stop-color="#FF7EB3"/>
									<stop offset="100%" stop-color="#FF758C"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab7)" d="M1257.5 1712.98l-9.797 6.474a3 3 0 0 1-4.157-4.157l6.473-9.797-6.473-9.797a3 3 0 0 1 4.157-4.157l9.797 6.473 9.797-6.473a3 3 0 0 1 4.157 4.157l-6.473 9.797 6.473 9.797a3 3 0 0 1-4.157 4.157l-9.797-6.473z" transform="rotate(-45 -1396.682 2356.898)"/>
							</g>
						</svg>
						<div class="about-svg about-svg_eight parallax2" data-parallax="4"></div>
						<svg class="about-svg about-svg_ninth parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 32 37">
							<defs>
								<linearGradient id="ab9" x1="50%" x2="50%" y1="0%" y2="105.254%">
									<stop offset="0%" stop-color="#FFD1FF"/>
									<stop offset="100%" stop-color="#FAD0C4"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab9)" d="M1228.546 2008.216l13.012 24.933a4 4 0 0 1-3.547 5.851h-26.023a4 4 0 0 1-3.546-5.85l13.011-24.934a4 4 0 0 1 7.093 0z" transform="scale(-1 1) rotate(-24 -4119.096 3949.985)"/>
							</g>
						</svg>
						<svg class="about-svg about-svg_ten parallax2" data-parallax="4" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
							<defs>
								<linearGradient id="ab10" x1="50%" x2="50%" y1="0%" y2="105.254%">
									<stop offset="0%" stop-color="#FBC2EB"/>
									<stop offset="100%" stop-color="#A18CD1"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab10)" d="M1216.5 2162.98l-9.797 6.474a3 3 0 0 1-4.157-4.157l6.473-9.797-6.473-9.797a3 3 0 0 1 4.157-4.157l9.797 6.473 9.797-6.473a3 3 0 0 1 4.157 4.157l-6.473 9.797 6.473 9.797a3 3 0 0 1-4.157 4.157l-9.797-6.473z" transform="rotate(-45 -1960.38 2532.407)"/>
							</g>
						</svg>
					</div>
					<div class="about-block" id="do_now">
						<h4 class="about-subtitle">Что мы делаем сейчас?</h4>
						<p class="about-text">Разрабатываем технологические решения в сфере корпоративного образования для «Нового потока» и других крупных российских компаний, применяя наши технологические и методологические инновации. Следующим шагом станет создание интеллектуальной образовательной платформы, которой сможет пользоваться любой преподаватель и любая компания, любой студент и сотрудник.</p>
						<div class="about-svg about-svg_eleven parallax2" data-parallax="4"></div>
					</div>
					<div class="about-block" id="price">
						<h4 class="about-subtitle">Что мы ценим больше всего?</h4>
						<p class="about-text">Есть несколько важных для нас вещей, которых придерживаемся:</p>
						<ul class="about-sublist">
							<li class="about-subitem">Вера в общую идею</li>
							<li class="about-subitem">Вера в равнозначный потенциал людей</li>
							<li class="about-subitem">Искренность и честность;</li>
							<li class="about-subitem">Смелость;</li>
							<li class="about-subitem">Взаимоподдержка.</li>
						</ul>
						<svg class="about-svg about-svg_twelve parallax2" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
							<defs>
								<linearGradient id="ab12" x1="100%" x2="0%" y1="50%" y2="50%">
									<stop offset="0%" stop-color="#FF7EB3"/>
									<stop offset="100%" stop-color="#FF758C"/>
								</linearGradient>
							</defs>
							<g fill="none" fill-rule="evenodd">
								<path fill="url(#ab12)" d="M1185.5 2687.98l-9.797 6.474a3 3 0 0 1-4.157-4.157l6.473-9.797-6.473-9.797a3 3 0 0 1 4.157-4.157l9.797 6.473 9.797-6.473a3 3 0 0 1 4.157 4.157l-6.473 9.797 6.473 9.797a3 3 0 0 1-4.157 4.157l-9.797-6.473z" transform="rotate(-45 -2609.611 2757.487)"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
