<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	<section class="main">
		<div class="container">
			<div class="main-flex main-flex_border">
				<div class="main-left main-left_top">
					<h1 class="main-title title">Технологические решения <span class="nowrap">для образования</span></h1>
					<p class="text">Мы создаем надежные и результативные решения
						<span class="nowrap">в сфере</span> образования, реализуя возможности адаптивного обучения и искусственного интеллекта.</p>
					<div class="main-left-flex">
						<button class="btn main-btn main-btn_first btn_blue">Связаться с нами</button>
						<button class="btn main-btn">Попробовать демо</button>
					</div>
				</div>
				<div class="main-right">
					<img src="img/main1.png" alt="" class="main-right-img">
				</div>
			</div>
		</div>
	</section>
	<section class="main main_block">
		<div class="container">
			<div class="main-flex main-flex_reverse">
				<div class="main-left main-left_bottom">
					<h2 class="main-subtitle subtitle">Адаптивный учебный контент</h2>
					<p class="main-text">Создавайте курсы, которые адаптируются
						<span class="nowrap">под индивидуальные</span> особенности восприятия ученика,
						его темп обучения, специфику усвоения информации
						<span class="nowrap">и когнитивные</span> способности. Повышайте эффективность
						и качество обучения, увеличивайте заинтересованность
						ваших студентов.</p>
					<a href="" class="main-link">Стандарт адаптивного контента <span class="line">→</span></a>
				</div>
				<div class="main-right">
					<img src="img/main1.png" alt="" class="main-right-img">
				</div>
			</div>
		</div>
	</section>
	<section class="main main_block">
		<div class="container">
			<div class="main-flex">
				<div class="main-left main-left_bottom">
					<h2 class="main-subtitle subtitle">Аналитика и онлайн-контроль успеваемости</h2>
					<p class="main-text">Улучшайте образовательный контент, поднимая
						<span class="nowrap">его на новый</span> качественный уровень, используя мощные
						и гибкие инструменты аналитики учебного процесса
						<span class="nowrap">в режиме</span> реального времени. </p>
					<a href="" class="main-link">Как мы анализируем данные <span class="line">→</span></a>
				</div>
				<div class="main-right">
					<img src="img/main1.png" alt="" class="main-right-img">
				</div>
			</div>
		</div>
	</section>
	<section class="main main_block">
		<div class="container">
			<div class="main-flex main-flex_reverse">
				<div class="main-left">
					<h2 class="main-subtitle subtitle">Непрерывный учебный процесс</h2>
					<p class="main-text">Интегрируйте образовательный процесс в жизнь учащегося. Студент может начать обучение на планшете дома, продолжить его в приложении на смартфоне по пути на работу, а затем переключится на десктопную web-версию в перерывах
						на работе.</p>
					<a href="" class="main-link">Подробнее о наших технологиях <span class="line">→</span></a>
				</div>
				<div class="main-right">
					<img src="img/main1.png" alt="" class="main-right-img">
				</div>
			</div>
		</div>
	</section>
	<section class="main main_block">
		<div class="container">
			<div class="main-flex">
				<div class="main-left main-left_bottom">
					<h2 class="main-subtitle subtitle">Образование, которое решает задачи бизнеса</h2>
					<p class="main-text">Мы стремимся к тому, чтобы обучение было направлено
						на решение реальных проблем бизнеса, поэтому помимо технологических решений, DET оказывает комплекс услуг в сфере оценки и обучения персонала.
						Мы разрабатываем методики ассессмента сотрудников, карты компетенций и навыков, строим рекомендации
						<span class="nowrap">и разрабатываем</span> курсы по программам обучения
						<span class="nowrap">и развития</span> персонала.</p>
					<a href="" class="main-link">Узнайте, как мы сможем решить ваши задачи <span class="line">→</span></a>
				</div>
				<div class="main-right">
					<img src="img/main1.png" alt="" class="main-right-img">
				</div>
			</div>
		</div>
	</section>
	<section class="whom">
		<div class="container">
			<h2 class="main-subtitle">Для кого</h2>
			<ul class="whom-list">
				<li class="whom-item whom-item_first">Крупные корпорации, заинтересованные <span class="nowrap">в интрейнинге</span> и повышении квалификации персонала</li>
				<li class="whom-item whom-item_second">Государственные учебные заведения (ДОУ, <span class="nowrap">школы, ВУЗы</span>)</li>
				<li class="whom-item whom-item_third">Образовательные платформы и LMS-системы, <span class="nowrap">которые мы</span> дополняем средой создания <span class="nowrap">и дистрибуции</span> адаптивного учебного контента</li>
				<li class="whom-item whom-item_fourth">Государственные социальные институты, <span class="nowrap">в чьи функции</span> входит переквалификация кадров, обучение новым профессиям и навыкам</li>
			</ul>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
