<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<section class="tech">
	<div class="container">
		<div class="tech-main">
			<h1 class="title tech-title">Технологии</h1>
			<p class="text tech-text">Используйте всю мощь передовых технологий адаптивного обучения для решения ваших образовательных задач.</p>
			<div class="main-left-flex main-left-flex_tech">
				<button class="btn main-btn main-btn_first btn_blue">Связаться с нами</button>
				<button class="btn main-btn">Попробовать демо</button>
			</div>
		</div>
		<ul class="tech-list">
			<li class="tech-item tech-item_first">Модульная архитектура нашей системы
				позволяет гибко подстраиваться под задачи клиента и интегрировать наши решения
				<span class="nowrap">с любыми</span> сторонними IT-системами.</li>
			<li class="tech-item tech-item_second">Учебный контент и интерфейсы нашей платформы за счет их сегментации на виджеты, могут быть легко встроены в среды виртуальной и дополненной (смешанной) реальности.</li>
		</ul>
	</div>
</section>
<section class="advantages">
	<div class="container">
		<h2 class="subtitle advantages-subtitle">Ключевые преимущества нашей платформы</h2>
		<div class="tech-flex">
			<div class="tech-block tech-hide">
				<img src="img/main1.png" alt="">
			</div>
			<div class="tech-block tech-mask">
				<h4 class="tech-block-title">Симбиоз различных стилей обучения</h4>
				<p class="tech-block-text">Система позволяет использовать разные стили <span class="nowrap">обучения, исходя</span> из потребностей учебного<br> заведения или ученика:</p>
				<div class="tech-relative">
					<div class="tech-slider">
						<div class="tech-slider-item">
							<h6 class="tech-slider-title">Обучение с сопровождением преподавателя</h6>
							<p class="tech-slider-text">Преподавателю доступны практически все классические инструменты для проведения урока: доска, указка, маркер, функция поднятия руки, общение в классе, поддержка нескольких одновременных потоков видео и многое другое</p>
						</div>
						<div class="tech-slider-item">
							<h6 class="tech-slider-title">Обучение с сопровождением преподавателя</h6>
							<p class="tech-slider-text">Преподавателю доступны практически все классические инструменты для проведения урока: доска, указка, маркер, функция поднятия руки, общение в классе, поддержка нескольких одновременных потоков видео и многое другое</p>
						</div>
						<div class="tech-slider-item">
							<h6 class="tech-slider-title">Обучение с сопровождением преподавателя</h6>
							<p class="tech-slider-text">Преподавателю доступны практически все классические инструменты для проведения урока: доска, указка, маркер, функция поднятия руки, общение в классе, поддержка нескольких одновременных потоков видео и многое другое</p>
						</div>
					</div>
					<div class="tech-numbers">
						<span class="tech-current">1</span> / <span class="tech-last">3</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="tech-content tech-content_blue">
	<div class="container">
		<div class="tech-flex">
			<div class="tech-block">
				<h4 class="tech-block-title tech-block-title_marg">Интегральный профиль студента</h4>
				<p class="tech-block-text tech-block-text_marg">Профиль ученика содержит консолидированную информацию об его образовании и желаемом карьерном пути.
					<span class="nowrap">На протяжении</span> обучения происходит обновление истории пройденных материалов, освоенных навыков, данных
					<span class="nowrap">о посещаемости</span> и успеваемости, выданных дипломов
					<span class="nowrap">и сертификатах.</span></p>
				<p class="tech-block-text">
					Образовательный профиль может служить централизованным источником данных о навыках человека не только для других образовательных учреждений, но и для кадровых отделов компаний и кадровых агентств. В крупных корпорациях
					<span class="nowrap">данные профиля</span> могут быть использованы для автоматизации
					процесса постановки задач.
				</p>
			</div>
			<div class="tech-block">
				<img src="img/main1.png" alt="">
			</div>
		</div>
	</div>
</section>
<section class="tech-content">
	<div class="container">
		<div class="tech-flex">
			<div class="tech-block">
				<img src="img/main1.png" alt="">
			</div>
			<div class="tech-block">
				<h4 class="tech-block-title tech-block-title_marg">Аналитика</h4>
				<p class="tech-block-text tech-block-text_marg">Система аналитики собирает и анализирует огромные массивы данных на всех этапах образовательного процесса.
					<span class="nowrap">Собранные данные</span> позволяют методистам постоянно улучшать и персонализировать образовательный контент,
					<span class="nowrap">а преподавателям</span> в режиме реального времени получать информацию по ученику, выявлять проблемные области
					<span class="nowrap">и оперативно</span> применять корректирующие действия
					<span class="nowrap">к образовательному</span> процессу. Поддерживается импорт данных из сторонних образовательных систем, соцсетей и DMP платформ.</p>
			</div>
		</div>
	</div>
</section>
<section class="tech-content tech-content_blue">
	<div class="container">
		<div class="tech-flex">
			<div class="tech-block">
				<h4 class="tech-block-title tech-block-title_marg">Виртуальный ассистент</h4>
				<p class="tech-block-text tech-block-text_marg">Виртуальный проводник-собеседник на технологиях распознавания речи и искусственного интеллекта предоставляет студентам наиболее удобный интерфейс взаимодействия с платформой — диалог в чате.
					<span class="nowrap">Через плотную интеграцию</span> с мессенджерами, браузером
					<span class="nowrap">и другими</span> программными и аппаратными средами, ассистент будет рекомендовать, напоминать и собирать данные
					<span class="nowrap">об ученике,</span> повышая персонализацию обучения и создавая неразделимый от жизни процесс обучения.</p>
			</div>
			<div class="tech-block">
				<img src="img/main1.png" alt="">
			</div>
		</div>
	</div>
</section>
<section class="tech-content">
	<div class="container">
		<div class="tech-flex">
			<div class="tech-block">
				<img src="img/main1.png" alt="">
			</div>
			<div class="tech-block">
				<h4 class="tech-block-title tech-block-title_marg">Блокчейн</h4>
				<p class="tech-block-text tech-block-text_marg">Компании, нанимающие на работу новых сотрудников,
					<span class="nowrap">часто сталкиваются</span> с трудностями проверки достоверности документов. Использование нашей плфтмормы позволяет решить эту проблему. Интегральный профиль студента, результаты успеваемости, выданные дипломы и сертификаты хранятся в сети «Блокчейн», что делает невозможным
					<span class="nowrap">их подделку</span> и компрометацию.</p>
			</div>
		</div>
	</div>
</section>
<section class="more tech-content_blue">
	<div class="container">
		<h4 class="more-title">А также</h4>
		<div class="more-flex">
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/medal.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Геймификация</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/hand.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Бизнес-симуляции</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/dna.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Виртуальные лаборатории</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/image.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Медиатека</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/list.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Тренажер изучения иностранных слов</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/star.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Персональные рекомендации курсов</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/chat.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Приватные <span class="nowrap">и групповые</span> чаты</h6>
			</div>
			<div class="more-item">
				<div class="more-item-block">
					<img src="img/exam.svg" alt="" class="more-item-img">
				</div>
				<h6 class="more-item-title">Голосования <span class="nowrap">и опросы</span></h6>
			</div>
		</div>
	</div>
</section>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
