<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<section class="tech">
	<div class="container">
		<div class="tech-main">
			<h1 class="title tech-title">Технологии</h1>
			<p class="text tech-text">Используйте всю мощь передовых технологий адаптивного обучения для решения ваших образовательных задач.</p>
			<div class="main-left-flex main-left-flex_tech">
				<button class="btn main-btn main-btn_first btn_blue">Связаться с нами</button>
				<button class="btn main-btn">Попробовать демо</button>
			</div>
		</div>
		<ul class="tech-list">
			<li class="tech-item tech-item_first">Модульная архитектура нашей системы
				позволяет гибко подстраиваться под задачи клиента и интегрировать наши решения
				<span class="nowrap">с любыми</span> сторонними IT-системами.</li>
			<li class="tech-item tech-item_second">Учебный контент и интерфейсы нашей платформы за счет их сегментации на виджеты, могут быть легко встроены в среды виртуальной и дополненной (смешанной) реальности.</li>
		</ul>
	</div>
</section>
<section class="advantages">
	<div class="container">
		<h2 class="subtitle advantages-subtitle">Ключевые преимущества нашей платформы</h2>
		<div class="tech-flex">
			<div class="tech-block tech-hide">
				<img src="img/main1.png" alt="">
			</div>
			<div class="tech-block tech-mask">
				<h4 class="tech-block-title">Симбиоз различных стилей обучения</h4>
				<p class="tech-block-text">Система позволяет использовать разные стили <span class="nowrap">обучения, исходя</span> из потребностей учебного<br> заведения или ученика:</p>
				<div class="tech-relative">
					<div class="tech-slider">
						<div class="tech-slider-item">
							<h6 class="tech-slider-title">Обучение с сопровождением преподавателя</h6>
							<p class="tech-slider-text">Преподавателю доступны практически все классические инструменты для проведения урока: доска, указка, маркер, функция поднятия руки, общение в классе, поддержка нескольких одновременных потоков видео и многое другое</p>
						</div>
						<div class="tech-slider-item">
							<h6 class="tech-slider-title">Обучение с сопровождением преподавателя</h6>
							<p class="tech-slider-text">Преподавателю доступны практически все классические инструменты для проведения урока: доска, указка, маркер, функция поднятия руки, общение в классе, поддержка нескольких одновременных потоков видео и многое другое</p>
						</div>
						<div class="tech-slider-item">
							<h6 class="tech-slider-title">Обучение с сопровождением преподавателя</h6>
							<p class="tech-slider-text">Преподавателю доступны практически все классические инструменты для проведения урока: доска, указка, маркер, функция поднятия руки, общение в классе, поддержка нескольких одновременных потоков видео и многое другое</p>
						</div>
					</div>
					<div class="tech-numbers">
						<span class="tech-current">1</span> / <span class="tech-last">3</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
