<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<section class="services parallax-scene">
	<div class="container">
		<div class="tech-main" id="scene">
			<div class="tech-main-svg tech-main-svg_first parallax" data-parallax="-5">
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
					<defs>
						<linearGradient id="aaa" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
							<stop offset="0%" stop-color="#96e6a1"/>
							<stop offset="100%" stop-color="#d4fc79"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="transparent" d="M-183-849h1366v3331H-183z"></path>
						<path fill="url(#aaa)" d="M202.5 875.989l-9.821 6.489a3 3 0 0 1-4.157-4.157l6.49-9.821-6.49-9.821a3 3 0 0 1 4.157-4.157l9.821 6.49 9.821-6.49a3 3 0 0 1 4.157 4.157l-6.49 9.821 6.49 9.821a3 3 0 0 1-4.157 4.157l-9.821-6.49z" transform="rotate(-45 -913.834 664.9)"></path>
					</g>
				</svg>
			</div>
			<div class="tech-main-svg tech-main-svg_second parallax" data-parallax="5"></div>
			<div class="tech-main-svg tech-main-svg_third parallax" data-parallax="8">
				<svg xmlns="http://www.w3.org/2000/svg" width="33px" height="36px" viewBox="0 0 33 36" version="1.1">
					<title>Triangle 3 Copy 2</title>
					<desc>Created with Sketch.</desc>
					<defs>
						<linearGradient x1="100%" y1="75.7294004%" x2="0%" y2="24.2389356%" id="linearGradient-1">
							<stop stop-color="#F5576C" offset="0%"></stop>
							<stop stop-color="#F093FB" offset="100%"></stop>
						</linearGradient>
					</defs>
					<g id="Current" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="DET-Desktop-Technology-1920" transform="translate(-1068.000000, -1682.000000)" fill="url(#linearGradient-1)">
							<path d="M1091.81255,1683.67493 L1104.81674,1708.5952 C1105.83876,1710.55371 1105.07957,1712.96991 1103.12106,1713.99193 C1102.54978,1714.29004 1101.91492,1714.44572 1101.27054,1714.44572 L1075.26215,1714.44572 C1073.05301,1714.44572 1071.26215,1712.65486 1071.26215,1710.44572 C1071.26215,1709.80133 1071.41783,1709.16648 1071.71595,1708.5952 L1084.72014,1683.67493 C1085.74215,1681.71641 1088.15835,1680.95723 1090.11687,1681.97925 C1090.84221,1682.35775 1091.43404,1682.94958 1091.81255,1683.67493 Z" id="Triangle-3-Copy-2" transform="translate(1088.266741, 1697.945721) rotate(18.000000) translate(-1088.266741, -1697.945721) "></path>
						</g>
					</g>
				</svg>
			</div>
			<div class="tech-main-svg tech-main-svg_fourth parallax" data-parallax="10">
				<svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
					<defs>
						<linearGradient id="aaa2" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
							<stop offset="0%" stop-color="#38f9d7"></stop>
							<stop offset="100%" stop-color="#43e97b"></stop>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="transparent" d="M-183-849h1366v3331H-183z"></path>
						<path fill="url(#aaa2)" d="M202.5 875.989l-9.821 6.489a3 3 0 0 1-4.157-4.157l6.49-9.821-6.49-9.821a3 3 0 0 1 4.157-4.157l9.821 6.49 9.821-6.49a3 3 0 0 1 4.157 4.157l-6.49 9.821 6.49 9.821a3 3 0 0 1-4.157 4.157l-9.821-6.49z" transform="rotate(-45 -913.834 664.9)"></path>
					</g>
				</svg>
			</div>
			<h1 class="title tech-title">Услуги</h1>
			<p class="text tech-text">Образование, которое решает задачи бизнеса</p>
			<div class="main-left-flex main-left-flex_tech">
				<button class="btn btn_services btn_blue">Заказать</button>
			</div>
		</div>
	</div>
</section>
<div class="services-content">
	<div class="container">
		<div class="services-flex">
			<div class="services-block">
				<h4 class="services-title">Разработка корпоративной библиотеки компетенций</h4>
				<p class="services-text">Наличие актуальной библиотеки навыков позволит улучшить качество подбора персонала, расширить возможности при проведении оценки сотрудников, повысить эффективность тренингов и внутрикорпоративного обучения. Библиотека компетенций будет содержать сведения о ключевых навыках, необходимых для эффективного выполнения задач
					каждым сотрудником, в соответствии со стратегическим планом развития вашей компании.</p>
			</div>
		</div>
	</div>
</div>
<div class="services-content services-content_blue">
	<div class="container">
		<div class="services-flex services-flex_end">
			<div class="services-block">
				<h4 class="services-title">Оценка персонала</h4>
				<p class="services-text">Комплексная оценка и тестирование проводится на базе наших технологических решений, для ключевых позиций используются программы ассесcмента. В результате, по каждому сотруднику будет подготовлен развернутый отчет о его текущем уровне развития ключевых навыков, их соответствию занимаемой должности и о потенциале к развитию.</p>
				<p class="services-text services-list-title">Комплексная оценка персонала поможет:</p>
				<ul class="services-list">
					<li class="services-text services-item">Сформировать знания о потенциале сотрудников для проведения качественных кадровых ротаций и создания кадрового резерва.</li>
					<li class="services-text services-item">Снизить затраты на подбор и адаптацию персонала, уменьшить показатели текучести за счет внедрения внутренней ротации.</li>
					<li class="services-text services-item">Сформировать программы развития и обучения сотрудников без отрыва от производственного процесса, повышения уровня мотивации персонала, степени его вовлеченности и уровня профессиональной эффективности.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="services-content">
	<div class="container">
		<div class="services-flex">
			<div class="services-block">
				<h4 class="services-title">Корпоративное обучение и развитие персонала</h4>
				<p class="services-text services-text_marg">DET сформирует персонализированные программы
					по обучению и развитию ваших сотрудников, соответствующие
					их персональным картам развития. Составит рекомендации
					по выбору пакета обучения, отвечающие уровню подготовки специалиста, объему и типу рекомендованного обучения. Организует непрерывное обучение сотрудников необходимым им навыкам.</p>
				<p class="services-text">Вы сможете регулировать объем проводимого обучения
					для каждого сотрудника, выбирая размеры и типы образовательных пакетов, уточнять планы развития сотрудников, добавляя им в программу курсов те навыки,
					по которым требуется немедленная актуализация. Вы получите полный доступ к статистике обучения своих сотрудников, включая, в том числе, оценку текущего уровня развития
					их навыков и прогресс в обучении.</p>
			</div>
		</div>
	</div>
</div>
<div class="services-content services-content_blue">
	<div class="container">
		<div class="services-flex services-flex_end">
			<div class="services-block">
				<h4 class="services-title">Технологические решения<br> для учебных заведений</h4>
				<p class="services-text">DET оказывает широкий спектр услуг для ВУЗов и учебных заведений в решении задач перехода на дистанционное обучение. С нами вы сможете:</p>
				<ul class="services-list services-list_marg">
					<li class="services-text services-item">Перенести в цифровую среду все этапы образовательного процесса и эффективно применять на практике <span class="services-text_blue">адаптивный образовательный контент.</span></li>
					<li class="services-text services-item">Оцифровать ваши текущие курсы, как самостоятельно так и с нашей помощью</li>
					<li class="services-text services-item">Заработать на продаже курсов не только студентам, но <span class="services-text_blue">другим учебным заведениям</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
