<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<section class="standart">
	<div class="container">
		<div class="standart-main">
			<div class="standart-main-block">
				<h2 class="title standart-title">Стандарт адаптивного образовательного произведения</h2>
				<p class="text standart-text">Создавайте адаптивные курсы, повышайте вовлеченность студентов и эффективность их обучения</p>
				<button class="btn standart-btn btn_blue">Связаться с нами</button>
			</div>
		</div>
	</div>
</section>
<div class="standart-content">
	<div class="standart-content-item">
		<div class="container">
			<div class="standart-content-block">
				<p class="standart-content-text">Учебники с последовательным линейным изложением материала становятся архаизмами. Учащимся необходим контент, меняющийся в зависимости от успеваемости учебного материала и результата ответов на проверочные вопросы.
					<span class="nowrap">Для реализации</span> адаптивности образовательный контент должен быть структурирован и разбит на минимально значимые части. Каждая из таких частей должна обладать необходимой метаинформацией.</p>
				<div class="standart-content-animate"></div>
				<p class="standart-content-text">DET разрабатывает собственный стандарт создания, хранения
					<span class="nowrap">и дистрибуции</span> учебного контента, построенного по нелинейной модели данных, благодаря которому вы можете создавать курсы, адаптирующийся под интересы и когнитивные способности учащихся, что позволяет существенно повысить эффективность и сократить время обучения. Ученики могут обучаться со своей собственной скоростью, они становятся более вовлеченными и независимыми.</p>
				<p class="standart-content-text">Стандарт базируется на спецификациях SCORM и xAPI
					<span class="nowrap">и описывает</span> систему работы с нелинейной структурой данных.</p>
				<p class="standart-content-text">Используя наш стандарт, каждая образовательная площадка может создавать свой собственный адаптивный контент, передавать или получать его из других образовательных платформ.</p>
			</div>
		</div>
	</div>
	<div class="standart-content-item">
		<div class="container">
			<div class="standart-content-block">
				<h4 class="standart-content-title">Применение адаптивных курсов</h4>
				<p class="standart-content-text">Не более 4% учеников проходят самостоятельное обучение
					<span class="nowrap">до конца:</span> быстро пропадает интерес к процессу
					<span class="nowrap">из-за неадаптированности</span> линейного, «книжного» способа подачи материала к модели восприятия конкретного ученика.</p>
				<img src="img/standart1.png" alt="" class="standart-content-img overflov-img">
				<p class="standart-content-text">Использование адаптивных курсов в самостоятельном обучении позволяет сохранить интерес ученика, максимально приблизиться к индивидуальному стилю обучения «один
					на один» и держать на высоком уровне качественные метрики образовательного процесса на протяжении всего периода обучения.</p>
				<p class="standart-content-text">Применение нелинейного адаптивного контента на уроках
					<span class="nowrap">с сопровождением</span> преподавателя создает безграничные возможности. К примеру, преподаватель может дать задание большей части класса, не думая о сложности для каждого ученика, а в это время поработать персонально с одним учеником. Может проводить контрольные работы,
					<span class="nowrap">не задумываясь,</span> что ученики спишут друг у друга, так как каждый ученик получает индивидуальные задания. Система автоматически подсчитает результаты и покажет их учителю.</p>
			</div>
		</div>
	</div>
	<div class="standart-content-item">
		<div class="container">
			<div class="standart-content-block standart-content-block_last">
				<h4 class="standart-content-title">Автоматизация обучения</h4>
				<p class="standart-content-text">Наша платформа автоматически экспериментирует
					с различными стратегиями обучения и вариациями контента, выбирая самый эффективный способ обучения для каждого конкретного студента — это возможно благодаря атомарности
					и нелинейности контента вкупе с продвинутой аналитикой
					и решениями на базе искусственного интеллекта, что позволяет классифицировать нашу систему как Интеллектуальную Образовательную Платформу (Intelligent Learning Platform).</p>
				<img src="img/standart2.png" alt="" class="standart-content-img standart-content-img_marg">
			</div>
		</div>
	</div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
