<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
@import "header.html"
<section class="standart">
	<div class="container">
		<div class="standart-main">
			<div class="standart-main-block">
				<h2 class="title standart-title">Стандарт адаптивного образовательного произведения</h2>
				<p class="text standart-text">Создавайте адаптивные курсы, повышайте вовлеченность студентов и эффективность их обучения</p>
				<button class="btn standart-btn btn_blue">Связаться с нами</button>
			</div>
		</div>
	</div>
</section>
<div class="standart-content">
	<div class="standart-content-item">
		<div class="container">
			<div class="standart-content-block">
				<p class="standart-content-text">Учебники с последовательным линейным изложением материала становятся архаизмами. Учащимся необходим контент, меняющийся в зависимости от успеваемости учебного материала и результата ответов на проверочные вопросы.
					<span class="nowrap">Для реализации</span> адаптивности образовательный контент должен быть структурирован и разбит на минимально значимые части. Каждая из таких частей должна обладать необходимой метаинформацией.</p>
				<div class="standart-animate">
					<img src="img/book.png" alt="" class="standart-animate-book">
					<img src="img/anim1.png" alt="" class="standart-animate-img standart-animate-img_first wow">
					<img src="img/voice.png" alt="" class="standart-animate-img standart-animate-img_second wow">
					<img src="img/yellow.png" alt="" class="standart-animate-img standart-animate-img_fourth wow">
					<img src="img/white.png" alt="" class="standart-animate-img standart-animate-img_third wow">
					<p class="standart-animate-text standart-animate-text_first anim-img35 wow">#audio</p>
					<p class="standart-animate-text standart-animate-text_second anim-img35 wow">#picture</p>
					<p class="standart-animate-text standart-animate-text_third anim-img35 wow">#videos</p>
					<p class="standart-animate-text standart-animate-text_fourth anim-img35 wow">#articles</p>
				</div>
				<div class="standart-content-animate"></div>
				<p class="standart-content-text">DET разрабатывает собственный стандарт создания, хранения
					<span class="nowrap">и дистрибуции</span> учебного контента, построенного по нелинейной модели данных, благодаря которому вы можете создавать курсы, адаптирующийся под интересы и когнитивные способности учащихся, что позволяет существенно повысить эффективность и сократить время обучения. Ученики могут обучаться со своей собственной скоростью, они становятся более вовлеченными и независимыми.</p>
				<p class="standart-content-text">Стандарт базируется на спецификациях SCORM и xAPI
					<span class="nowrap">и описывает</span> систему работы с нелинейной структурой данных.</p>
				<p class="standart-content-text">Используя наш стандарт, каждая образовательная площадка может создавать свой собственный адаптивный контент, передавать или получать его из других образовательных платформ.</p>
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" class="standart-img standart-img_first parallax2" data-parallax="-4">
					<defs>
						<linearGradient id="as1" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
							<stop offset="0%" stop-color="#96E6A1"/>
							<stop offset="100%" stop-color="#D4FC79"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="url(#as1)" d="M166 958.66l-10.326 6.823a3 3 0 0 1-4.157-4.157L158.34 951l-6.823-10.326a3 3 0 0 1 4.157-4.157L166 943.34l10.326-6.823a3 3 0 0 1 4.157 4.157L173.66 951l6.823 10.326a3 3 0 0 1-4.157 4.157L166 958.66z" transform="rotate(-45 -1030.816 661.738)"/>
					</g>
				</svg>
				<img src="img/stand1.png" alt="" class="standart-img standart-img_second parallax2" data-parallax="-1">
				<div class="standart-img standart-img_third parallax2" data-parallax="-3"></div>
				<svg class="standart-img standart-img_fourth parallax2" data-parallax="-4" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
					<defs>
						<linearGradient id="as4" x1="100%" x2="0%" y1="0%" y2="100%">
							<stop offset="0%" stop-color="#FFE29F"/>
							<stop offset="47.873%" stop-color="#FFA99F"/>
							<stop offset="100%" stop-color="#FF719A"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="url(#as4)" d="M1216.5 1274.98l-9.797 6.474a3 3 0 0 1-4.157-4.157l6.473-9.797-6.473-9.797a3 3 0 0 1 4.157-4.157l9.797 6.473 9.797-6.473a3 3 0 0 1 4.157 4.157l-6.473 9.797 6.473 9.797a3 3 0 0 1-4.157 4.157l-9.797-6.473z" transform="rotate(-45 -888.47 2088.407)"/>
					</g>
				</svg>
				<img src="img/stand2.png" alt="" class="standart-img standart-img_fifth parallax2" data-parallax="-1">
				<svg class="standart-img standart-img_seventh parallax2" data-parallax="-3" xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 32 37">
					<defs>
						<linearGradient id="as7" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
							<stop offset="0%" stop-color="#96E6A1"/>
							<stop offset="100%" stop-color="#D4FC79"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="url(#as7)" d="M97.546 1836.216l13.012 24.933a4 4 0 0 1-3.547 5.851H80.988a4 4 0 0 1-3.546-5.85l13.011-24.934a4 4 0 0 1 7.093 0z" transform="scale(-1 1) rotate(-24 -4279.998 1203.516)"/>
					</g>
				</svg>
				<svg class="standart-img standart-img_eight parallax2" data-parallax="-2" xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
					<defs>
						<linearGradient id="as4" x1="100%" x2="0%" y1="0%" y2="100%">
							<stop offset="0%" stop-color="#FFE29F"/>
							<stop offset="47.873%" stop-color="#FFA99F"/>
							<stop offset="100%" stop-color="#FF719A"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="url(#as4)" d="M1216.5 1274.98l-9.797 6.474a3 3 0 0 1-4.157-4.157l6.473-9.797-6.473-9.797a3 3 0 0 1 4.157-4.157l9.797 6.473 9.797-6.473a3 3 0 0 1 4.157 4.157l-6.473 9.797 6.473 9.797a3 3 0 0 1-4.157 4.157l-9.797-6.473z" transform="rotate(-45 -888.47 2088.407)"/>
					</g>
				</svg>
			</div>
		</div>
	</div>
	<div class="standart-content-item">
		<div class="standart-content-overlay"></div>
		<div class="container">
			<div class="standart-content-block">
				<h4 class="standart-content-title">Применение адаптивных курсов</h4>
				<p class="standart-content-text">Не более 4% учеников проходят самостоятельное обучение
					<span class="nowrap">до конца:</span> быстро пропадает интерес к процессу
					<span class="nowrap">из-за неадаптированности</span> линейного, «книжного» способа подачи материала к модели восприятия конкретного ученика.</p>
				<img src="img/standart1.png" alt="" class="standart-content-img overflov-img">
				<p class="standart-content-text">Использование адаптивных курсов в самостоятельном обучении позволяет сохранить интерес ученика, максимально приблизиться к индивидуальному стилю обучения «один
					на один» и держать на высоком уровне качественные метрики образовательного процесса на протяжении всего периода обучения.</p>
				<p class="standart-content-text">Применение нелинейного адаптивного контента на уроках
					<span class="nowrap">с сопровождением</span> преподавателя создает безграничные возможности. К примеру, преподаватель может дать задание большей части класса, не думая о сложности для каждого ученика, а в это время поработать персонально с одним учеником. Может проводить контрольные работы,
					<span class="nowrap">не задумываясь,</span> что ученики спишут друг у друга, так как каждый ученик получает индивидуальные задания. Система автоматически подсчитает результаты и покажет их учителю.</p>
				<svg class="standart-img standart-img_sixth parallax2" data-parallax="-5" xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 32 37">
					<defs>
						<linearGradient id="as6" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
							<stop offset="0%" stop-color="#96E6A1"/>
							<stop offset="100%" stop-color="#D4FC79"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">
						<path fill="url(#as6)" d="M97.546 1836.216l13.012 24.933a4 4 0 0 1-3.547 5.851H80.988a4 4 0 0 1-3.546-5.85l13.011-24.934a4 4 0 0 1 7.093 0z" transform="scale(-1 1) rotate(-24 -4279.998 1203.516)"/>
					</g>
				</svg>
				<img class="standart-img standart-img_ninth parallax2" data-parallax="-1" src="img/stand3.png" alt="">
				<img class="standart-img standart-img_ten parallax2" data-parallax="-2" src="img/stand4.png" alt="">
				<img class="standart-img standart-img_eleven parallax2" data-parallax="-1" src="img/stand5.png" alt="">
				<svg class="standart-img standart-img_twelve parallax2" data-parallax="-3" xmlns="http://www.w3.org/2000/svg" width="32" height="37" viewBox="0 0 32 37">
					<defs>
						<linearGradient id="as12" x1="100%" x2="0%" y1="75.729%" y2="24.239%">
							<stop offset="0%" stop-color="#C2E9FB"/>
							<stop offset="100%" stop-color="#A1C4FD"/>
						</linearGradient>
					</defs>
					<g fill="none" fill-rule="evenodd">

						<path fill="url(#as12)" d="M190.546 2988.216l13.012 24.933a4 4 0 0 1-3.547 5.851h-26.023a4 4 0 0 1-3.546-5.85l13.011-24.934a4 4 0 0 1 7.093 0z" transform="scale(-1 1) rotate(-24 -6943.365 1998.282)"/>
					</g>
				</svg>
				<img class="standart-img standart-img_thirteen parallax2" data-parallax="-1" src="img/stand6.png" alt="">
			</div>
		</div>
	</div>
	<div class="standart-content-item">
		<div class="container">
			<div class="standart-content-block standart-content-block_last">
				<h4 class="standart-content-title">Автоматизация обучения</h4>
				<p class="standart-content-text">Наша платформа автоматически экспериментирует
					с различными стратегиями обучения и вариациями контента, выбирая самый эффективный способ обучения для каждого конкретного студента — это возможно благодаря атомарности
					и нелинейности контента вкупе с продвинутой аналитикой
					и решениями на базе искусственного интеллекта, что позволяет классифицировать нашу систему как Интеллектуальную Образовательную Платформу (Intelligent Learning Platform).</p>
				<img src="img/standart2.png" alt="" class="standart-content-img standart-content-img_marg">
			</div>
		</div>
	</div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
