<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>DET</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	<section class="section vacancy">
		<div class="vacancy-top">
			<div class="container">
				<div class="vacancy-top-block">
					<h1 class="title tech-title vacancy-title">Senior Data Scientist / Analyst</h1>
					<p class="text tech-text vacancy-subtitle">в Санкт-Петербург на фуллтайм, от 4 лет опыта в команду Алексея Антропова</p>
					<img src="img/ava.png" alt="" class="vacancy-top-img">
					<a href="" class="vacancy-top-link">
						<span class="line">←</span>
						К списку вакансий
					</a>
				</div>
			</div>
		</div>
		<div class="vacancy-main">
			<div class="container">
				<div class="vacancy-main-block">
					<div class="vacancy-main-top">
						<h4 class="vacancy-main-title">Описание вакансии</h4>
						<p class="vacancy-main-subtitle">Задачи, над которыми предстоит работать:</p>
						<p class="vacancy-main-text">Разработка нового и поддержка существующего функционала
							<span class="nowrap">по направлениям</span> «база знаний» и «вебинары».</p>
						<p class="vacancy-main-subtitle">Вы — «наш человек», если:</p>
						<ul class="vacancy-list">
							<li class="vacancy-item">Занимаетесь коммерческой разработкой уже более 5 лет;</li>
							<li class="vacancy-item">Хорошо знаете PHP 5.5 и выше (мы используем 7 версию);</li>
							<li class="vacancy-item">Работали как с реляционной MySQL, так и с NoSQL базами данных;</li>
							<li class="vacancy-item">Хорошо знаете фреймворк PHP Phalcon (или Yii и Laravel);</li>
							<li class="vacancy-item">Умеете применять основные паттерны проектирования;</li>
							<li class="vacancy-item">Умеете работать с архитектурой MVC и строить RESTFull API;</li>
							<li class="vacancy-item">Обладаете чувством юмора и не обладаете аллергией на кошек <span class="nowrap">(у нас в офисе</span> живет кошка Ася).</li>
						</ul>
						<p class="vacancy-main-subtitle">Мы по достоинству ценим наших сотрудников и стремимся предоставить для них лучшие условия:</p>
						<ul class="vacancy-list">
							<li class="vacancy-item">Высокую заработную плату (размер которой не является «камнем преткновения»и мы с радостью обсудим его с успешным кандидатом);</li>
							<li class="vacancy-item">Возможности карьерного развития;</li>
							<li class="vacancy-item">Посещение семинаров, конференций и тренингов за счет компании;</li>
							<li class="vacancy-item">Незабываемые корпоративные путешествия (например, на Новый год мы летали в Красную Поляну.</li>
						</ul>
					</div>
					<div class="vacancy-main-bottom">
						<h4 class="vacancy-main-title vacancy-main-title_sm">Откликнуться</h4>
						<div class="vacancy-bottom-flex">
							<img src="img/ava2.png" alt="" class="vacancy-bottom-img">
							<p class="vacancy-bottom-text">Привет! Меня зовут Даша, я HR, и ваш отклик придет
								<span class="nowrap">на мою почту</span>. А еще вы можете написать мне на нее напрямую – <a class="career-link" href="mailto:darya.goryunova@digitaledtech.com" class="href">darya.goryunova@digitaledtech.com</a>, либо в Телеграм
								<a href="tg://resolve?domain=tae_zori" class="career-link">@tae_zori</a> <span class="nowrap">и задать</span> любые вопросы о вакансиях и работе у нас». </p>
						</div>
						<form action="" class="vacancy-form">
							<div class="vacancy-form-block">
								<div class="vacancy-form-tooltip tooltip tooltip_center">
									<p class="tooltip-text">Мы пришлем вам ответ на этот адрес</p>
									<div class="tooltip-close">
										<div class="tooltip-line tooltip-line_top"></div>
										<div class="tooltip-line tooltip-line_bottom"></div>
									</div>
								</div>
								<input type="email" class="vacancy-form-input" placeholder="Электронная почта" required>
							</div>
							<textarea type="text" class="vacancy-form-textarea" placeholder="Напишите пару слов о себе"></textarea>
							<div class="vacancy-form-group">
								<input type="checkbox" class="vacancy-form-checkbox" required>
								<div class="vacancy-form-check">
									<div class="vacancy-form-tooltip tooltip">
										<p class="tooltip-text">Для отправки резюме,нам нужно ваше согласие</p>
										<div class="tooltip-close">
											<div class="tooltip-line tooltip-line_top"></div>
											<div class="tooltip-line tooltip-line_bottom"></div>
										</div>
									</div>
									<div class="vacancy-form-ok"></div>
								</div>
								<p class="vacancy-form-text">Я соглашаюсь на обработку своих <a href="" class="career-link">персональных данных</a></p>
							</div>
							<div class="vacancy-form-row">
								<div class="vacancy-form-custom btn">
									Прикрепить резюме
									<input type="file" class="vacancy-form-file" required>
									<div class="vacancy-form-tooltip tooltip tooltip_center">
										<p class="tooltip-text">Пожалуйста, прикрепите резюме</p>
										<div class="tooltip-close">
											<div class="tooltip-line tooltip-line_top"></div>
											<div class="tooltip-line tooltip-line_bottom"></div>
										</div>
									</div>
								</div>
								<button class="vacancy-form-btn btn btn_blue" type="submit">Отправить</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
